body{
    background-color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 450px;
    margin : auto;
    text-align: center;
    border-radius: 10 px;
    padding: 20px;
    border: 5px solid black;
    margin-top: 50px;
    box-shadow: 10px 10px 10px #888888;
    color: cadetblue;
    background-color: darkmagenta;

}
#num{
    font-size: 1.5em;
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}
#roll{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}
#images img{
    display: flex;
    justify-content: center;
    width: 50px;
    margin: auto;
}